<div class='company-notification-item'
     *ngIf="hasNotification > 0 && notificationItem; else doesNotHaveNotification"
     (click)="selectNotification(notificationItem.uuid)"
     [ngClass]='{"company-notification-item--unread": !notificationItem.viewed }'>
  <div class='notification-item-logo'> S </div>
  <div class='notification-item-description-content'>
    <div class='notification-item-description'>
      <p> {{notificationItem.info.content}} </p>
    </div>
    <div class='notification-item-date'>
      <p> {{"HEADER.NOTIFICATIONS.BOOK_INTERVIEW.DEADLINE" | translate}} {{notificationItem.createdAt}} </p>
    </div>
  </div>
</div>

<ng-template #doesNotHaveNotification>
  <span class="empty-notification"> {{"HEADER.NOTIFICATIONS.NO_DATA" | translate}} </span>
</ng-template>
