@import "src/app/modules/header/notifications/notifications.scss";

.company-notification-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 16px;
  border-bottom: 1px solid $gray;

  &:hover {
    background-color: $light-gray;
  }

  &--unread {
    background-color: rgba(8, 166, 82, 0.04);;
  }
}

.notification-item-description {
  padding: 0 0 6px 0;
  &-content {
    display: flex;
    flex-direction: column;
  }
}

.empty-notification {
  position: absolute;
  top: 40%;
  right: 32%;
  font-size: 18px;
  color: green;
  font-family: Roboto;
}
