<div class='company-notification-item'
     *ngIf="hasNotification > 0 && notificationItem; else doesNotHaveNotification"
     (click)="selectNotification(notificationItem.uuid)"
     [ngClass]='{"company-notification-item--unread": !notificationItem.viewed }'>
  <div class='notification-item-logo'> S</div>
  <div class='notification-item-description-content'>
    <div class='notification-item-description'>
      <p> {{notificationItem.info.content}}</p>
    </div>
    <div class='notification-item-date'>
      <p>{{notificationItem.updatedAt | dateDifference: end }} </p>
    </div>
  </div>
</div>


<ng-template #doesNotHaveNotification>
  <span class="empty-notification">Нет уведомлений </span>
</ng-template>
