<section class="chat">
  <div class="chat-wrapper">
    <div class="chat-wrapper_conversations">
      <hr-conversations
        [conversations]="conversations">
      </hr-conversations>
    </div>
    <div class="chat-wrapper_messages" *ngIf="(selectedConversation$ | async); else robotContentTmpl">
      <hr-messages
        [messages]="messages"
        [isLoading]="isMessagesLoading"
      ></hr-messages>
    </div>
    <ng-template #robotContentTmpl>
      <div class="robot_img--content">
        <img src="./assets/img/icon/chat-robot.svg" alt="robot"/>
      </div>
    </ng-template>
  </div>
</section>
