@import 'src/assets/variables/variables';
@import "src/assets/mixins/util/util";

.chat {
  min-height: calc(100vh - 723px);

  &-wrapper {
    height: calc(100vh - 300px);
    min-height: 600px;
    width: 78.6%;
    max-width: 1132px;
    margin: 0 auto 25px;
    background: $white;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    display: flex;

    &_messages {
      width: 100%;
    }
  }
}

.robot_img--content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin-top: 80px;
    width: 350px;
    height: 350px;
  }
}
