<section class="chat" *ngIf="conversations$ | async as companies">
  <div class="chat-wrapper">
    <div
      class="chat-company"
      [ngClass]="chatIsShow.value ? 'chat-company--hide' : 'chat-company--show'"
      #element
      infinite-scroll
      [infiniteScrollContainer]="element"
      [infiniteScrollDistance]="scrollDistance"
      [infiniteScrollThrottle]="throttle"
      [scrollWindow]="false"
      [fromRoot]="true"
    >
      <ng-container class="chat-wrapper" *ngIf="!isLoading.value; else skeletonTmpl">
        <div *ngIf="!companies?.length" class="chat-company__list--no-data">
          <p>
            Нет компаний, заинтересованных в вас. <br>
            Пожалуйста, повысьте свой рейтинг и пройдите тестирование в нашей системе.
          </p>
        </div>
        <div
          class="chat-company__list"
          *ngFor="let company of companies; let i = index"
        >
          <ng-container *ngLet="selectedConversation$ | async as selectedConversation">
            <div
              class="chat-company__item"
              [ngClass]="{
                'chat-company__not-read': !company?.last_message?.messageStatus,
                'chat-company__isActive':
                  company?.last_message?.conversationUuid === selectedConversation?.last_message?.conversationUuid
              }"
              (click)="getConversationMessagesAction(company)"
            >
              <div>
                <div class="chat-company__info">
                  <img class="chat-company__info--image" [src]="getLogo(company.company.image) ?? ''" alt="company"/>
                  <div>
                    <p>{{ company?.company?.name}} - {{ company?.other_info?.name}}</p>
                    <span *ngIf="!!company?.last_message?.senderUuid">
<!--                      TODO-->
<!--                      {{ company?.last_message?.createdAt | date: "HH:mm" }}-->
                    </span>
                  </div>
                </div>
                <div *ngIf="!company?.last_message?.messageStatus "
                     class="chat-company__active"></div>
              </div>
              <p *ngIf="!!company?.last_message?.senderUuid"
                 [ngClass]="{'chat-company__not-read': !company?.last_message?.messageStatus }">
                {{ company?.last_message?.message }}
              </p>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div
      class="chat-messages chat-messages--hide"
      [ngClass]="{ 'chat-messages--show': chatIsShow.value }"
      [hidden]="!chatIsShow.value"
    >
      <ng-container *ngLet="selectedConversation$ | async as selectedConversation">
        <ng-container *ngIf="selectedConversation; else hiddenMessagesTmpl">
          <div class="show-in-mobile" (click)="chatIsShow.next(false)">
            <img src="./assets/img/icon/chat-back-icon.svg" alt="back"/>
          </div>
          <div #chat class="chat-messages__block" (scroll)="scroll($event)">
            <div
              *ngIf="messages$ | async as messages"
              class="search-results"
              #infiniteScroll
              infiniteScroll
              [infiniteScrollUpDistance]="1.5"
              [infiniteScrollThrottle]="50"
              [infiniteScrollContainer]="'.chat-messages__block'"
              [scrollWindow]="false"
              [fromRoot]="true"
              (scrolledUp)="onScrollUp()"
            >
              <ng-container *ngIf="((messages$ | async).length && !isMsgLoading.value); else messagesLoaderTmpl">
                <ng-container *ngIf="messages?.length > 2; else notMsgTmpl">
                  <div *ngFor="let message of messages">
                    <div
                      class="chat-messages__wrapper"
                      *ngIf="
                      message?.senderUuid &&
                      message?.recipientUuid === employee?.uuid &&
                      selectedConversation?.last_message?.conversationUuid === message?.conversationUuid
                    "
                    >
                      <div class="chat-messages__img">
                        <img
                          [src]="getLogo(message?.companyLogo ?? selectedConversation?.company?.image)"
                          alt="specialist"
                        />
                      </div>
                      <div class="chat-messages__content">
                        <p [innerText]="message?.message"></p>
                        <div class="chat-messages__date">
                          <span>{{ message?.createdAt | date: "dd/MM/yy hh:mm" }}</span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="chat-messages__wrapper--right"
                      *ngIf="
                      message?.senderUuid &&
                      message?.recipientUuid !== employee?.uuid &&
                      selectedConversation?.last_message?.conversationUuid === message?.conversationUuid
                    "
                    >
                      <div class="chat-messages__content--right">
                        <p [innerText]="message?.message"></p>
                        <div class="chat-messages__date">
                          <span>{{ message?.createdAt | date: "dd/MM/yy hh:mm" }}</span>
                        </div>
                        <!--                  <span *ngIf="(lastMessageUuid$ | async) === message?.uuid">Просмотрено</span>-->
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-template #notMsgTmpl>
                  <div class="chat-messages__no-data">
                    <img
                      [src]="getLogo(selectedConversation?.company?.image)"
                      alt="company"
                    />
                    <p> {{selectedConversation?.company?.name}} </p>
                    <p> Вы еще не начали чат </p>
                  </div>
                </ng-template>
              </ng-container>
            </div>

          </div>
          <div class="chat-item"
               *ngIf="!conversation?.last_message?.messageStatus && !!selectedConversation?.last_message?.senderUuid">
            <p class="is-unread-msg" (click)="chatOpen()">
              У вас есть непрочитанное сообщение ⮟
            </p>
          </div>
          <div class="chat-item" *ngIf="!!(messages$ | async).length && !this.isMsgLoading.value">
            <div class="chat-input" *ngIf="isAllowSendMsg.value">
              <div class="chat-input__text">
                <textarea
                  #textarea
                  (input)="auto_grow()"
                  (keydown)="onKeydown($event)"
                  [(ngModel)]="message"
                  placeholder="Напишите что нибудь"
                ></textarea>
              </div>
              <button
                class="chat-input__button chat-input_send-button"
                [class.active]="!!msgLength()"
                (click)="sendMessageAction()"
              >
                <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M10.5002 17.342L10.5002 3.65783"
                    stroke="#555B66"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5.36851 8.7894L10.5001 3.65782L15.6317 8.7894"
                    stroke="#555B66"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #hiddenMessagesTmpl>
        <div class="robot_img--content">
          <img src="assets/img/icon/chat-robot.svg" alt="robot"/>
        </div>
      </ng-template>
    </div>
  </div>

  <ng-template #skeletonTmpl>
    <ng-container *ngFor="let i of [1, 2, 3, 4]">
      <div class="company-item">
        <div class="section-wrapper">
          <div class="gravatar">
            <ngx-skeleton-loader
              appearance="circle"
              animation="progress"
              [theme]="{
                width: '41px',
                height: '41px'
              }"
            ></ngx-skeleton-loader>
          </div>
          <div class="gravatar-title">
            <div>
              <ngx-skeleton-loader
                animation="progress"
                [theme]="{
                  width: '60%',
                  'border-radius': '0',
                  height: '15px',
                  'margin-bottom': '10px'
                }"
              ></ngx-skeleton-loader>
            </div>
            <div>
              <ngx-skeleton-loader
                animation="progress"
                [theme]="{
                  width: '20%',
                  'border-radius': '0',
                  height: '15px'
                }"
              ></ngx-skeleton-loader>
            </div>
            <div>
              <ngx-skeleton-loader
                animation="progress"
                [theme]="{
                  width: '100%',
                  'border-radius': '0',
                  height: '15px',
                  'margin-bottom': '10px'
                }"
              ></ngx-skeleton-loader>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-template>
  <ng-template #messagesLoaderTmpl>
    <div class="loader-container">
      <div class="loader"></div>
    </div>
  </ng-template>

  <ng-template #emptyContentTml>
    <hr-empty-content></hr-empty-content>
  </ng-template>
</section>
