<ng-container *ngIf="quizTests$ | async as quizTests; else quizPageLoaderModel">
  <div class="specialist-test" #target *ngIf="!isShowResultPage; else resultPageModel">
    <div class="specialist-test__content" [class.disablContent]="isOptionsDisabled">
      <div class="specialist-test__content-info-wrapper">
        <div class="test-time-info-wrapper">
          <span class="testName-style">{{ displayTestName }}</span>
          <span class="remainingFixedTime-style">{{ displayRemainingFixedTime | date: "HHч: mmм :ssс" }}</span>
        </div>
        <div class="loader_item">
          <div class="radial_loader">
            <div class="underline"></div>
            <div class="outer seconds_outer"></div>
            <div class="inner seconds_inner">Загрузка</div>
          </div>
        </div>
    </div>
      <div class="specialist-test__question" *ngFor="let test of quizTests">
        <p class="specialist-test__question__text" [innerHTML]="test.question"></p>
        <div class="specialist-test__answer">
          <div class="specialist-test__answer-block" *ngFor="let answer of test.answers">
            <label class="label" [class.checked]="answer.is_selected" [class.disabled]="isOptionsDisabled">
              <input
                [disabled]="isOptionsDisabled"
                type="checkbox"
                [checked]="answer.is_selected"
                (change)="onOptionSelect(test.uuid, answer.id)"
              />
              <span class="checkmark"></span>
              <span class="option_text" [innerHTML]="answer.answer"></span>
            </label>
        </div>
      </div>
    </div>
  
    <div class="specialist-test__pagination">
      <div>
        <button class="specialist-test__pagination__control"
          [disabled]="true"
          [ngClass]="{'specialist-test__pagination__control_disabled':currentPage === 1}"
          [disabled]="currentPage === 1"
          (click)="prevPage(target)">Предыдущий
        </button>
      </div>
      <div>
        <button class="specialist-test__pagination__control"
          [disabled]="false"
          [ngClass]="{'specialist-test__pagination__control_disabled':currentPage === totalPages}"
          [disabled]="currentPage === totalPages"
          (click)="nextPage(target)">Следнющий
        </button>
      </div>
      <div *ngIf="isShowSubmitBtn" class="btn">
        <button class="specialist-test__pagination__action-btn" (click)="sendAnswers()">Потвердить</button>
      </div>
      <div *ngIf="isShowResultBtn" class="btn">
        <button class="specialist-test__pagination__action-btn" (click)="showResult(true)">Показать результат</button>
      </div>
      </div>
    </div>
  </div>
</ng-container>

<hr-modal [isOpen]="(isModalOpenFail | async) ?? false" (whenModalClose)="modalToggleFail($event)">
  <div class="lose-tests-wrapper">
    <p>Тесты, которые вы не прошли будут провалены.</p>
    <br />
    <p>Bы уверены, что хотите выйти ?</p>
    <div class="lose-actions">
      <button class="loseBtn lose-ok" (click)="isCanNavigate(true)">Да</button>
      <button class="loseBtn lose-cancel" (click)="isCanNavigate(false)">Отмена</button>
    </div>
  </div>
</hr-modal>

<hr-modal [isOpen]="(isModalOpenTimeOver | async) ?? false" (whenModalClose)="modalToggleTimeOver($event)">
  <div class="info-wrapper" *ngIf="totalPages">
    <p>Время истекло !</p>
    <button class="loseBtn confirm-ok" (click)="confirmTimeOver()">Хорошо</button>
  </div>
</hr-modal>

<ng-template #quizPageLoaderModel>
  <div class="quiz-loader-container">
    <div class="quiz-loader"></div>
  </div>
</ng-template>

<ng-template #resultPageModel>
  <hr-quiz-result></hr-quiz-result>
</ng-template>