<div class="header__notification" (click)="$event.stopPropagation()">
  <div class="header__notification-content" (click)="openNotificationsListAction($event)">
    <button class="header__notification-button" *ngIf="!mobile">
      <img src="assets/img/header-images/white-not-icon.svg" alt="notification-icon"/>
    </button>
    <button class="header__notification-button" *ngIf="mobile">
      <img src="assets/img/header-images/green-not-icon.svg" alt="notification-icon"/>
    </button>
    <span *ngIf="count > 0" class="header__notification-count">
      {{ count > 99 ? 99 + "+" : count }}
    </span>
  </div>

  <div class="header__drop-menu" *ngIf="isDropdownOpen$ | async" (click)="$event.stopPropagation()">
    <div class="header__drop-menu-title">
      <div>
        <b>{{ "NOTIFICATIONS.EMPLOYEE" | translate }}</b>
      </div>
      <img
        class="header__drop-menu-close"
        src="assets/img/icon/close-dropdown-icon.svg"
        alt="close-icon"
        (click)="close($event)"
      />
    </div>
    <div class="header__drop-menu-notification__block" [class.mobile]="screenSize === 'MOBILE'">
      <cdk-virtual-scroll-viewport
        [itemSize]="virtualScrollItemSize"
        [minBufferPx]="virtualScrollItemSize"
        [maxBufferPx]="virtualScrollItemSize * 10"
        (scrolledIndexChange)="getNextBatch($event)"
        class="scrollbar-green"
        [style.height.px]="virtualContainerHeight"
      >
        <div *cdkVirtualFor="let item of notifications">
          <hr-notification-item
            [item]="item"
            [hasNotification]="hasNotification"
            (selectedNotification)="selectNotification($event)"
          ></hr-notification-item>
        </div>
      </cdk-virtual-scroll-viewport>
      <ng-container *ngIf="loadingMoreNotifications$ | async">
        <div class="loader-container">
          <div class="loader"></div>
          <p class="loader_text">{{"HEADER.NOTIFICATIONS.LOADING" | translate}}</p>
        </div>
      </ng-container>
      <hr-notification-item *ngIf="!(loadingMoreNotifications$ | async) && hasNotification == 0" [hasNotification]="hasNotification"> </hr-notification-item>
    </div>
  </div>
</div>
