@import '/src/assets/variables/variables';
@import 'src/assets/mixins/util/util';

.fill-information {
  @include responsive-container;

  @media screen and (min-width: 375px) and (max-width: 896px) {
    padding: 11px;
  }

  &__title {
    margin-bottom: 31px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1400px) {
      width: 230px;
      display: flex;
      align-items: center;
    }

    span {
      font-style: normal;
      font-weight: $font-medium;
      font-size: 24px;
      line-height: 28px;
      color: $green;
    }
  }

  &__edit {
    .fill-information__section {
      flex-direction: row;
      justify-content: center;

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-right: 40px;
        margin-bottom: 40px;

        @media screen and (max-width: 500px) {
          margin-right: 0;
          align-items: center;
        }
      }

      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
    }

    button {
      background: transparent;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        margin-bottom: 3px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px;
        color: #08A652;
      }
    }
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__inputs-wrapper {
    max-width: 670px;
    width: 100%;

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $black;
      opacity: 0.7;
      margin-top: 17px;

      &.title {
        font-size: 20px;
        line-height: 23px;
        opacity: 1;
      }

      .details {
        font-weight: 400;
      }
    }
  }

  &__file-input {
    background: #FFFFFF;
    border: 0.5px solid #08A652;
    border-radius: 8px;
    width: 100%;
    max-width: 230px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 220px;
      height: 186px;
    }

    &::ng-deep .modal {
      padding: 0 30px 0 30px;
      max-height: 80vh !important;
      overflow-x: hidden !important;
      width: 70%;
      height: 80vh;

      @media screen and (max-width: 500px) {
        width: 100%;
      }

      &__content {
        width: auto;
        display: flex;
        flex-direction: column;
        height: 89%;
        justify-content: space-between;
        max-height: 100%;

        & > image-cropper {
          width: auto;
          max-height: 60vh !important;

          & > div {
            width: auto;
            max-height: 60vh !important;
          }
        }
      }

      &__close-button {
        top: 20px;
        right: 0;
        border: 0.3px solid #6F7985;
        box-shadow: 0 2px 5.5px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        width: 28px;
        height: 28px;
        z-index: 1001;
        background: $white;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #F5F5F5;
        border-radius: 4px;
      }

      &::-webkit-scrollbar {
        width: 4px;
        height: 6px;
        background-color: #F5F5F5;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #FFF;
        background-image: linear-gradient(89.99deg, #029a51 1.43%, #41d852 105.51%, #029a51 47.83%);
      }
    }

  }

  &__searchable {
    &-select {
      min-width: 200px;
      width: 100%;
      @media screen and (max-width: 1435px) {
        margin-bottom: 15px;
      }
      @media screen and (max-width: 800px) {
        margin-bottom: 15px;
        width: 100%;
      }

      &-wrapper {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        padding-bottom: 13px;
      }
    }

    @media screen and (max-width: 800px) {
      &-select {
        &:last-child {
          margin-left: 0;
        }
      }
    }

    &-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 12px;
      letter-spacing: .4px;
      margin-bottom: 5px;
      color: $black;
      display: block;
    }

    &-ending {
      label {
        font-weight: 400;
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 0.4px;
        color: #000000;
        margin-bottom: 5px;
        display: block;
      }
    }
  }

  &__editor {
    &-label {
      font-style: normal;
      font-weight: $font-normal;
      font-size: $text-sm;
      line-height: 20px;
      letter-spacing: 0.4px;
      color: $black;
      margin-bottom: 5px;

      &:after {
        content: "*";
        color: #c83532;
        font-size: 12px;
      }
    }

    &-input {
      max-width: 748px;
      width: 100%;
      margin-left: auto;
      margin-top: 13px;

      &::ng-deep .ck {
        border: none;
        padding: 0;

        .ck-toolbar {
          border: none;
          padding: 0;

          &__separator {
            background-color: $black;
          }
        }

        &-toolbar__items {
          background: #E5EAEC;
          border: 1px solid #D5D4DC;
          border-radius: 8px 8px 0 0;
          padding: 0 0 0 26px;
          height: 46px;
        }

        &-content {
          height: 227px;
          border-radius: 0 0 8px 8px !important;
          border: 1px solid #D5D4DC;
          border-top: none;
          outline: none;
          padding: 0 18px;
          top: -1px;

          &_invalid {
            :host ::ng-deep .ck-editor__editable_inline {
              border: 1px solid $red !important;
            }
          }

          &_valid {
            :host ::ng-deep .ck-editor__editable_inline {
              border: 1px solid $green !important;
            }
          }

          &:focus {
            border: 1px solid #D5D4DC;
            border-top: none;
          }
        }
      }
    }
  }

  &__button {
    text-align: right;
    margin-top: 45px;
    user-select: none;
    width: 100%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__edit {
    margin-bottom: 14px;
  }

  @media screen and (max-width: 1435px) {
    padding: 32px 50px;
    .fill-information {
      &__file-input {
        margin-bottom: 15px;
      }

      &__searchable-select {
        width: 70%;
        @media screen and (max-width: 896px) {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 1230px) {
    padding: 32px 20px 64px;

  }

  @media screen and (max-width: 900px) {
    &__searchable-select-wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
    }
  }

}


:host ::ng-deep {
  .ck-content {
    &_invalid {
      .ck-editor__editable_inline {
        border: 1px solid $red !important;
      }
    }

    &_valid {
      .ck-editor__editable_inline {
        border: 1px solid $green !important;
      }
    }
  }
}

.employee {
  &-info {
    width: 88.6%;
    max-width: 1132px;
    margin: 0 auto 20px;
    padding: 0;
    background: #ffffff;
    border: 1px solid $green;
    border-radius: 8px;

    &__experiences {
      display: block;

      span {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.4px;
      }
    }

    .main {
      margin-top: 20px;
    }

    &:hover {
      .information {
        &-title {
          color: $green;
        }

        > svg {
          path {
            fill: #F28A1A
          }

        }
      }
    }

    &__content {
      max-height: 0;
      overflow: hidden;
      @media screen and (max-width: 896px) {
        margin-right: 0
      }
    }

    &__table {
      display: table;
      width: 100%;
    }

    &.active {
      padding: 0;

      .information {
        margin-bottom: 12px;

        &-title {
          color: $green;
        }

        &-add {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 20px;
        }

        > svg {
          transform: rotateX(180deg);
        }
      }

      .employee-info {
        &__experiences {
          &-block {
            display: flex;
            width: 45%;
            @media screen and (max-width: 1200px) {
              justify-content: space-between;
              width: 100%;
            }
            @media screen and (max-width: 800px) {
              flex-wrap: wrap;
              margin-bottom: 15px;
            }
          }

          &-input {
            flex-direction: column;

            > div {
              margin-left: 0;
              width: 100%;

              &:first-child {
                margin-bottom: 8px;
              }
            }

            label {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.4px;
              margin-bottom: 5px;
            }
          }

          &-datepicker {
            padding-top: 0 !important;
            align-items: flex-end;
            justify-content: space-between;

            label {
              font-weight: 400;
              font-size: 14px;
              line-height: 11px;
              letter-spacing: 0.4px;
              margin-bottom: 5px;
            }

            &_item {
              z-index: 1;
              @media screen and (max-width: 800px) {
                margin-left: 0;
              }
            }
          }

          &-checkbox {
            margin-bottom: 0 !important;
            display: flex;
            align-items: center;
            cursor: pointer;

            &_icon {
              width: 16px;
              height: 16px;
              background: #FFFFFF;
              border: 0.399982px solid #6F7985;
              border-radius: 50%;
              position: relative;

              &:after {
                content: "";
                width: 6px;
                height: 6px;
                background: #08a652;
                border: 0.399982px solid #6F7985;
                position: absolute;
                border-radius: 50%;
                top: 3px;
                left: 3px;
                opacity: 0;
              }
            }

            &_title {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              letter-spacing: 0.4px;
              color: #6F7985;
              margin-left: 12px;
            }

            > input {
              display: none;

              &:checked {
                border-color: $green;

                & + .employee-info__experiences-checkbox_icon {
                  &:after {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }

        &__content {
          > div {
            opacity: 1;
            transition: opacity 0.5s;
            padding: 30px 55px 30px 70px;

            @media screen and (max-width: 500px) {
              padding: 20px 13px;
            }
          }
        }

        &__experiences-datepicker {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }
      }

    }

    &__item {
      padding-bottom: 24px;
      border-top: 1px solid #C4C4C4;

    }

    &__icon {
      margin-top: 17px;
      margin-bottom: 11px;
      display: flex;
      justify-content: flex-end;

      > svg {
        cursor: pointer;

        &:first-child {
          margin-right: 13px;
        }
      }
    }

    &__table {
      display: table;
      width: 100%;

      &-cell {
        display: table-cell;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.4px;
        color: $black;
        width: 60px;

        &-info {
          color: #6F7985;
          word-break: break-word;
          margin-right: 20px;
        }
      }
    }

    &__wrapper {
      overflow: hidden;
      max-height: 0;
    }

    &__block {
      @media screen and (max-width: 1144px) {
        overflow-x: scroll;

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
          background-color: #F5F5F5;
          border-radius: 4px;
        }

        &::-webkit-scrollbar {
          width: 4px;
          height: 6px;
          background-color: #F5F5F5;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 4px;
          background-color: #FFF;
          background-image: linear-gradient(89.99deg, #029a51 1.43%, #41d852 105.51%, #029a51 47.83%);
        }
      }

      &:first-child {
        .employee-info__wrapper {
          border-color: transparent;
        }

        .fill-information__searchable-select-wrapper {
          padding-top: 0 !important;
        }
      }

      &:last-child {
        .employee-info__item {
          margin-bottom: 24px;
          border-bottom: 1px solid #C4C4C4;
        }
      }

      @media screen and (max-width: 1144px) {
        .employee-info__item {
          width: 800px;
        }

      }
    }

    &__active {
      margin-bottom: 16px;

      &.employee-info__block {
        @media screen and (max-width: 1144px) {
          overflow-x: hidden;
        }
      }

      .employee {
        &-info {
          &__wrapper {
            min-height: 190px;
            max-height: 500px;
            transition: 0.5s;
            border-top: 1px solid #C4C4C4;
            opacity: 1;
          }

          &__content {
            padding: 0 30px;

            > div {
              opacity: 1;
            }
          }

          &__item {
            display: none;
          }
        }
      }
    }
  }

  &-skills {
    width: 100%;
    max-width: 1000px;
    margin: 3px auto 20px;
    padding: 30px 70px 30px;
    background: #ffffff;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    @media screen and (max-width: 896px) {
      padding: 11px;
    }

    &_item {
      display: block;
      padding: 19px 0;
    }

    ::ng-deep .tag {
      margin-right: 9px;
      margin-bottom: 22px;
    }
  }


}


.information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #555B66;
  padding: 30px 55px 30px 70px;
  cursor: pointer;

  @media screen and (max-width: 500px) {
    padding: 20px 40px;
  }

  > svg {
    cursor: pointer;
    transform: rotateX(0);
  }

  &-add {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #6F7985;

    span {
      background: $white;
      border: 0.3px solid lightgrey;
      box-shadow: 0 2px 5.5px rgba(0, 0, 0, 0.06);
      border-radius: 8px;
      padding: 3px;
      cursor: pointer;
      min-width: 26px;
      min-height: 26px;
      height: 26px;
      width: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 7px;
    }
  }

  &-title {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    svg {
      margin-right: 11px;
    }
  }
}


.detail {
  display: flex;
  flex-direction: row;
  padding-top: 20px !important;
}

.save {
  border: none !important;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.rezume {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.block {
  flex-basis: 50%;
}

.title {
  font-weight: bold;
}

.wrapper {
  display: flex;
}

.description {
  min-height: 50px;
  flex: 1;
  margin-top: 20px;
  line-height: 1.6;

  .title {
    i {
      font-size: 14px;
    }

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
  }

  div {
    border-left: 1px solid #08A652;
    padding-left: 27px;
  }

  &_languages {
    span {
      display: block;
      margin: 20px 0 11px;
    }

    hr-tag {
      margin-right: 9px;
    }
  }
}

.flex {
  display: flex !important;
  flex-wrap: wrap !important;
}

.flex > * {
  flex: 1 1 160px;
}

.info {
  text-align: justify;
  text-align-last: right;
  line-height: 1.6;
}

.icon {
  color: #08A652;
}

.details {
  margin-left: 10px
}

.exp {
  border: 1px solid #08A652;
  padding: 10px;
  border-radius: 25px;
}


.add-vacancy {
  max-width: 1132px;
  width: 78.6%;
  margin: auto;

  &__search {
    padding: 59px 96px 54px;
    background: $white;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
  }

  &__title {
    font-style: normal;
    font-weight: $font-medium;
    font-size: $text-lg;
    line-height: 21px;
    color: $black;

  }

  &__select {
    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 6px;
      padding-bottom: 28px;
    }

    padding-top: 11px;
  }
}

.download {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  border: 0;
  margin-top: 2px;
  margin-bottom: 13px;

  .btn {
    width: 172px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #08A652;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #08A652;
    cursor: pointer;
  }
}

.fill-information__edit-title {

  margin-bottom: 31px;
  display: flex;
  justify-content: space-between;

  span {
    font-style: normal;
    font-weight: $font-medium;
    font-size: 24px;
    line-height: 28px;
    color: $green;
  }

}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.employee-skills_item_tag {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.employee-skills_item p {
  margin-bottom: 10px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 200;
}

.loader {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 3px solid green;
  border-top-color: rgba(0, 0, 0, 0);
  animation: spin 2s linear infinite;
  z-index: 100;
  position: absolute;
  top: 60px;

  &_text {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $medium-dark-gray;
    font-size: 10px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:host::ng-deep .searchable-select__input {
  min-width: 150px !important;

}

:host::ng-deep hr-input {
  .removeBlock {
    .removeInputValue {
      top: 39px !important;
    }
  }
}

::ng-deep hr-datepicker ngb-datepicker {
  z-index: 9999;
}

.employee-info__active
.employee-info__wrapper {
  overflow: inherit;
}

.rotate {
  > svg {
    transform: rotateX(180deg);
  }
}
