@import "/src/assets/variables/variables";

* {
  font-family: "Roboto";
  font-weight: normal;
}

.resume {
  position: relative;
  height: auto;
  width: 78.6%;
  max-width: 1132px;
  margin: 0 auto 210px;
  padding: 43px 95px 30px 76px;
  background: $white;
  border: 1px solid $green;
  border-radius: 8px;
  @media screen and (max-width: 896px) {
    padding: 11px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__downloadPdf {
      background: #08a652;
      color: white;
      padding: 5px 20px;
      height: 48px;
      border: 1px solid #08a652;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }

    img {
      margin-left: 10px;
      @media screen and (max-width: 500px) {
        margin-left: 0;
      }
    }
  }
}

.header {
  box-sizing: border-box;
  padding: 38px 42px;
}

.content {
  margin: 0 auto;
  width: inherit;
}

.header > p {
  margin: 0;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #08a652;
}

.profile {
  display: flex;
  justify-content: center;
}

.profile-img-border {
  position: relative;
  width: 242px;
  height: 242px;
  border-radius: 50%;
  border: 1px solid #08a652;
}

.profile-img {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 0;
  width: 212px;
  height: 212px;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  display: flex;
  justify-content: center;

  span {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
  }
}

.block-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.block-title > svg {
  margin-right: 16px;
  margin-left: -8px;
}

.block-info {
  border-left: 1px solid #08a652;
  padding-left: 27px;
  margin-bottom: 20px;
}

.block-info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  opacity: 0.7;
}

.block-info > div {
  display: flex;
  align-items: center;
}

.block-label {
  width: 40%;
  margin: 5px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  opacity: 0.7;
}

.blocks-content {
  display: flex;
  padding: 45px 0;
}

.blocks {
  width: 50%;
}

.lines {
  width: 1px;
  background: #08a652;
  height: inherit;
}

.block {
  padding-bottom: 90px;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.language {
  background: #ffffff;
  border: 1px solid #08a652;
  border-radius: 35px;
  padding: 6px 18px;
  margin-right: 10px;
  margin-bottom: 22px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer--item {
  display: flex;
  align-items: center;
}

.footer--item > svg {
  margin-right: 15px;
}

.pl-60 {
  box-sizing: border-box;
  padding-left: 60px;
}

@media screen and (max-width: 1200px) {
  .blocks-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 14px;
  }

  .first-block {
    border-right: none;
  }

  .pl-60 {
    padding-left: 0;
  }
  .lines {
    display: none;
  }
  .blocks {
    width: 100%;
  }
  .profile-img-border {
    width: 190px;
    height: 190px;

    img {
      width: 160px;
      height: 160px;
    }
  }
}

@media screen and (max-width: 500px) {
  .block-info {
    div {
      display: block;
    }
  }
  .header {
    padding: 38px 0px;
  }
}
