<div class="book-interview-date__modal custom-scrollbar">
  <div class="book-interview-date__modal--wrapper">
    <div class="book-interview-date__modal--content">
      <div class="datepicker date-pickers_block"
           [formGroup]="dateForm">
        <ngb-datepicker
          [dayTemplate]="customDay"
          [formControlName]="'date'"
          [minDate]="todayDate"
          (dateSelect)="selectedDate($event);"
          [maxDate]="maxDate"
          [markDisabled]="isBooked"
        >
        </ngb-datepicker>
        <ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-disabled="disabled"
                     let-selected="selected">
          <div class="custom-day"
               [class.disabled]="disabled || isBooked(date)"
               [attr.readonly]="isBooked(date) ? true : null"
               [class.selected]="selected"
          >
            {{ date.day }}
          </div>
        </ng-template>
      </div>
      <hr-book-interview-date-hours
        *ngIf="interviewHours | async as hours"
        [hours]="hours"
        (selectedHour)="setHour($event)"
      ></hr-book-interview-date-hours>
    </div>

    <div class="book-interview-date__modal-button-content">
      <button class="book-interview-date__modal-field" (click)="cancel()">
        {{"HEADER.NOTIFICATIONS.BOOK_INTERVIEW.NO" | translate}}
      </button>
      <button class="book-interview-date__modal-accept"
              [ngClass]="{'disabled': dateForm.invalid}"
              (click)="bookInterview()">
        {{"HEADER.NOTIFICATIONS.BOOK_INTERVIEW.YES" | translate}}
      </button>
    </div>
  </div>
</div>
