@import '../../notifications';
@import "src/assets/mixins/util/util";

.book-interview-date__modal {
  display: flex;
  flex-direction: column;
  gap: 33px;
  @media screen and (max-width: 500px) {
    height: calc(100vh - 210px);
    overflow-y: auto;
  }

  &-title, &-description {
    width: 100%;
    font-style: normal;
    text-align: center;
  }

  &-title {
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #08a652;
  }

  &-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #b8b8b8;
  }

  &--content {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
  }

  // SCSS styles
  .interview-hours {
    display: flex;
    flex-wrap: wrap;
  }

  .interview-hour {
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
  }

  &--hours {
    height: 267px;
    padding: 0 10px;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid transparent;

    p {
      padding: 5px;
      margin-bottom: 10px;
    }
  }

  &--hour-isBooked {
    color: $red;
    background: $light-red;
    border-radius: 8px;
    border: 1px solid $red;
  }

  &--hour-selected {
    color: $green;
    background: $light-green;
    border-radius: 8px;
    border: 1px solid $green;
  }

  &--wrapper {
    display: flex;
    flex-direction: column;
    gap: 33px;
  }

  &-datepicker {
    display: flex;
    justify-content: space-evenly;
  }

  &-button-content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
    margin-bottom: 20px;

    button {
      width: 150px;
      height: 36.67px;
      background: #ffffff;
      border: 0.763855px solid #08a652;
      border-radius: 6.11084px;
    }

    button:nth-child(2) {
      background: #08a652;
      color: white;
    }

    button:nth-child(1):hover {
      background: #08a652;
      color: white;
    }
  }
}

::ng-deep ngb-datepicker .columnheader {
  color: $green !important;
}

.custom-day {
  padding: 5px;
  @include flex-center;

  &.disabled {
    background-color: white;
    color: $gray;
    cursor: not-allowed;
    border-radius: 4px;

    &[readonly=true] {
      pointer-events: none;
    }
  }

  &.selected {
    background-color: $green;
    color: white;
    border-radius: 4px;
  }
}

::ng-deep ngb-datepicker-navigation-select > .custom-select {
  border: none;
  outline: none;
}

::ng-deep .ngb-dp-today {
  background-color: $white !important;
  color: $green;
  border-radius: 8px;
  font-weight: 800;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}
