<div class='filter'>
  <div class="filter__company">
    <hr-input
      class='filter__status-input'
      [placeholder-text]="'По имени'"
      [formControl]='vacancyFilterQueryControl'
      (textInput)='sendValue($event,filterType.QUERY)'
    >
    </hr-input>

    <hr-search-select
      class='filter__status-input'
      [placeholder]="'По стране'"
      [formControl]='vacancyFilterCountryControl'
      [options]='searchListCountry$ | async'
      (selectedOptionOutput)="sendValue($event,filterType.COUNTRY)"
    >
    </hr-search-select>
    <hr-search-select
      class='filter__status-input'
      [isInputDisabled]="!vacancyFilterCountryControl.value"
      [isMultiSelect]="true"
      [placeholder]="'По городам'"
      [formControl]='vacancyFilterCityControl'
      [options]='searchListCity$ | async'
      (selectedOptionsOutput)="sendValue($event,filterType.CITY)"
    >
    </hr-search-select>
    <hr-search-select
      class='filter__status-input'
      [placeholder]="'Способ работы'"
      [formControl]='vacancyFilterWayOfWorkingControl'
      [options]='employmentTypes$ | async'
      (selectedOptionOutput)="sendValue($event,filterType.WAYOFWORKING)"
    >
    </hr-search-select>
  </div>
</div>
