@import '../../../../../assets/mixins/util/util';
@import '../../../../../assets/variables/variables';
@import "src/assets/mixins/input/input-mixins";

.filter {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;

  &__company {
    display: flex;
    flex-wrap: wrap;
  }

  &__search-input {
    ::ng-deep .input-wrapper {
      height: 46px;
    }
  }

  &__status-input {
    max-width: 210px;
    margin-right: 10px;
    margin-bottom: 15px;

    @media screen and (max-width: 760px) {
      max-width: none;
      width: 100%;
    }


    ::ng-deep .searchable-select__title {
      display: none;
    }
  }

  &__wrapper-input {
    width: 171px;
  }

  &__date {
    &-label {
      width: 75px;
      margin-left: 8px;
      position: relative;
    }

    &-input {
      background: $white;
      border: 1px solid $gray;
      border-radius: 8px;
      width: 75px;
      height: 46px;
      margin-right: 5px;
      padding-left: 10px;
      outline: none;

    }

    &-icon {
      position: absolute;
      right: 10px;
      top: 17.5px;
    }
  }
}

.block {
  display: flex;
}


