// Colors
$black: #000000;
$dark: #2e2d2d;
$white: #ffffff;
$gray: #d5d4dc;
$very-light-gray: #f5f8ff;
$light-gray: #ccd0db;
$medium-dark-gray: #6f7985;
$dark-gray: #555b66;
$green: #08a652;
$light-green: #f1f8f2;
$orange: #f28a1a;
$red: #c83532;
$light-red: #fbefef;
$light-blue: #008ffb;
$blue:#2D3748;

// Font Family
$main-font: "Roboto", "Arial", sans-serif;

// Font Size
$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 26px;
$text-4xl: 28px;
$text-5xl: 30px;

//Font Weight
$font-lighter: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 900;

// Border Radius
$radius-sm: 5px;
$radius-base: 8px;
$radius-lg: 10px;
$radius-circle: 50%;

// Opacity
$opacity: 0.3;

// Box Shadow
$shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
$shadow-low: 0px 4px 25px rgba(0, 0, 0, 0.15)

