.openPassword {
  background: url("../../../../assets/img/icon/Group.svg");
  width: 29px;
  height: 17px;
  background-repeat: no-repeat;
  position: absolute;
  right: 7px;
  top: 36px;

  @media screen and (min-width: 320px) and (max-width: 450px) {
    right: -3px;
  }
}

.closePassword {
  transform: rotate(141deg);
  background-color: green;
  width: 23px;
  height: 2px;
  position: absolute;
  right: 9px;
  top: 4px;
}
