<div class="book-interview-date__modal--hours scrollbar-green">
  <div *ngFor="let hour of interviewHours; let i = index">
    <p
      [ngClass]="
                  {
                  'hour-element': true,
                  'book-interview-date__modal--hour-isNotBooked': !hour.isBooked,
                  'book-interview-date__modal--hour-isBooked': hour.isBooked,
                  'book-interview-date__modal--hour-selected': hour.isSelected
                  }"
      (click)="setHour(hour.hour)"
    >
      {{hour.hour}}
    </p>
  </div>
</div>
