@import '../../../notifications';

.book-interview-date__modal {
  &--hours {
    height: 267px;
    padding: 0 10px;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid transparent;
    cursor: auto;

    @media screen and (max-width: 500px) {
      height: max-content;
      width: 232px;
      display: flex;
      column-gap: 10px;
      margin-top: 20px;
      overflow: auto;
    }

    p {
      padding: 5px;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }

  &--hour-isBooked {
    color: $red;
    background: $light-red;
    border-radius: 8px;
    border: 1px solid $red;
    pointer-events: none;
  }

  &--hour-isNotBooked {
    border-radius: 8px;
    border: 1px solid $light-gray;
  }

  &--hour-selected {
    color: $green;
    background: $light-green;
    border-radius: 8px;
    border: 1px solid $green;
    cursor: default;
  }
}
