<section class="footer_wrapper">
  <div class="footer_block-1">
    <p class="footer_block-1--title">HR-hunt</p>
    <div class="footer_block-1--info">
      <a class="footer_block-1--info-hrefText" href="mailto:info@hrhunt.ru">
      <div class="footer_block-1--info-block">
        <img src="assets/img/footer/msg.svg"/>
        <p>info@hrhunt.ru</p>
      </div>
      </a>
      <a class="footer_block-1--info-hrefText" href="tel:+7 (915) 093-77-88">
      <div class="footer_block-1--info-block">
        <img src="assets/img/footer/phone.svg"/>
        <p>+7 (915) 093-77-88</p>
      </div>
      </a>
      <a class="footer_block-1--info-hrefText" href="https://t.me/">
      <div class="footer_block-1--info-block">
        <img src="assets/img/footer/telegram.svg"/>
        <p>Telegram</p>
      </div>
      </a>
      <a class="footer_block-1--info-hrefText" href="https://wa.me/">
      <div class="footer_block-1--info-block">
        <img src="assets/img/footer/whatsapp.svg"/>
        <p>Whatsapp</p>
      </div>
      </a>
    </div>
  </div>
  <hr>
  <div class="footer_block-2">
    <a (click)="redirectTo('/contact')">Контакты</a>
    <a (click)="redirectTo('/user-agreement')">Пользовательское соглашение</a>
    <a (click)="redirectTo('/privacy-policy')">Политика конфиденциальности</a>
    <p>Все права защищены</p>
  </div>
  <hr>
  <div class="footer_block-3">
    <p>ИП Арутюнян Артем Ваганович </p>
    <p>ОГРНИП 321602700026381 / ИНН 602726841613</p>
    <p>© HR-Robot, 2021 — 2022 </p>
  </div>
</section>
